body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tutorial-button {
    background-color: #2f3cf0;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.tutorial-button:hover {
    background-color: #1b2392;
}

.skip-tutorial-button {
    background-color: #09c532;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.skip-tutorial-button:hover {
    background-color: #05661a;
}

.changelog-button {
    background-color: #ddd900;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.changelog-button:hover {
    background-color: #868402;
}

.back-button {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.back-button:hover {
    background-color: #a1a1a1;
}

#tooltip {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    font-size: 17px;
}
  
#tooltip.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
    animation: fadein 0.5s, fadeout 0.5s 4s;
}
  
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 20px; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.achievementDescription {
    color: gray;
    background-color: transparent;
}