body {
    background-color: black;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(to left top, #000000, #000000, #1f1f1f, #313131, #161616, #000000, #000000);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.common {
    color: green;
}

.rare {
    color: blue;
}

.epic {
    color: purple;
}

.legendary {
    color: gold;
}

.mythical {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

.hidden {
    color: rgb(43, 43, 43);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tutorial-button {
    background-color: #2f3cf0;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.tutorial-button:hover {
    background-color: #242ec0;
}

.skip-tutorial-button {
    background-color: #09c532;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.skip-tutorial-button:hover {
    background-color: #099327;
}

.back-button {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.back-button:hover {
    background-color: #a1a1a1;
}

.credits-button {
    background-color: #b346db;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.credits-button:hover {
    background-color: #7f319c;
}

.career-button {
    background-color: #46b3db;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}

.career-button:hover {
    background-color: #3a96b8;
}

.swapBranchLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#tooltip {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    font-size: 17px;
}
  
#tooltip.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4s;
    animation: fadein 0.5s, fadeout 0.5s 4s;
}

#tooltip.mythicalShow {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 8s;
    animation: fadein 0.5s, fadeout 0.5s 8s;
}
  
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 20px; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.achievementDescription {
    color: gray;
    background-color: transparent;
}

/* The Modal (background) */
.modal {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
  
  /* Modal Content */
.modal-content {
    color: #ffffff;
    background-color: #272727;
    position: absolute;
    margin: auto;
    padding: 20px;
    border: 4px double rgb(241, 241, 241);
    box-shadow: 2px 5px 5px rgb(32, 32, 32);
    top: 50%;
    left: 50%;
    height: 140px;
    width: 500px;
    margin-top: -70px;
    margin-left: -250px;
    padding: 8px;
    border-radius: 10px;
    animation-duration: 0.5s;
}

.yes-button {
    background-color: #2f3cf0;
    border: none;
    color: #ffffff;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 50px -1px 0px 0px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    float: right;
}

.no-button   {
    background-color: #f02f2f;
    border: none;
    color: #ffffff;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 50px -1px 0px 5px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    float: right;
}

.confirmationModal-content {
    color: #ffffff;
    background-color: #272727;
    position: absolute;
    margin: auto;
    padding: 20px;
    border: 4px double rgb(160, 3, 3);
    box-shadow: 2px 5px 5px rgb(32, 32, 32);
    top: 50%;
    left: 50%;
    height: 140px;
    width: 500px;
    margin-top: -70px;
    margin-left: -250px;
    padding: 8px;
    border-radius: 10px;
    animation-duration: 0.5s;
}

.modal-title {
    margin-block-start: 0px;
    margin-block-end: 5px;
}

.modal-description {
    margin-block-start: 0;
    margin-block-end: 0;
}

.announcement-bar {
    display: inline-block;
    border-radius: 3px;
    height: 100%;
    text-align: center;
    width: 100%;
    background: yellow;
    color: black;
    margin-top: 5px;
    padding: 5px 0;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}

.top {
    margin: 0 !important;
}

.announcment-bar .icon {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.announcement-bar .container .icon {
    display: inline-block;
    vertical-align: -2px;
}

.announcement-bar .container .warning-icon {
    display: inline-block;
    vertical-align: -1.5px;
}

.announcement-bar .container .info-icon {
    display: inline-block;
    vertical-align: -2.2px;
}

.dev-details {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}